body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin-bottom: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;
    color: #202a44;
}

header h1 {
    font-size: 80px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cart-logo {
    width: 50px;
    height: 50px;
    border-color:#000000;
    border-style: double;
    border-width: 4px;
    border-radius: 6px;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
}

#side-content {
    background-color: #fff1c2;
    color: #202a44;
    padding-left: 15px;
    padding-right:20px;
    border-width: 5px;
    border-radius: 3px;
    width: 700px;
    height: 300px;
    border-color: #202a44;
    border-style: double;
    border-radius: 6px;
    font-family: 'Arvo', serif;
    overflow-y: scroll;
    word-break: break-all;
    position: fixed;
    float: right;
    right: 0;
    top:28%;
    margin-left:-60%;
}

.class-total {
    color:#202a44;
    font-size: 16px;
    padding-top: 10px;
}

.checkout-btn {
    margin-top: 20px;
    width: 80px;
    height: 30px;
    border-color:#000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    font-size: 15px;
}

.checkout-btn:hover {
    border-color: #01446e;
    background-color:#01446e;
    color: #FFFFFF;
}

#side-content p:hover {
    color:#f69d3c;
}

#back {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border-color:#000000;
    border-style: double;
    border-width: 4px;
    border-radius: 6px;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    font-size: 18px;
}

#back:hover {
    border-color:#FFFFFF;
    background-color:#202a44;
    color: #FFFFFF;
}

button {
    border-color: #000000;
    width: 50px;
    height: 50px;
    padding: 0;
}
h2 {
    font-family: 'Kanit', sans-serif;
    color:#000000;
    font-size: 30px;
    padding-left: 20px;  
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
}

p {
    font-family: 'Arvo', serif;
    padding-left: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(0.45turn, #202a44, #f69d3c);
    margin-bottom: 10px;
}

.nav-area {
    display: flex;
    justify-content: flex-start;
}

.nav-list {
    margin: 0;
    padding: 5px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size:18px;
    font-family: 'Arvo', serif;
    color: #FFFFFF;
}

a:hover {
    font-size: 20px;
    color: #fff1c2;
}

.main-content {
    background-color: #fbf3de;
    padding: 10px;
    border-width:5px;
    border-style: double;
    border-color: #000000;
}

.main-content table {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.main-content th {
    text-align: center;
    background-color: #FFFFFF;
    width: 360px;
}

.main-content td {
    padding-top: 10px;
    text-align: center;
    overflow:break-word;
    width: 360px;
    border-bottom: 2px solid #ddd;
    font-family: 'Arvo', serif;
    font-size: 14px;
}

.main-content img {
    border-style: double;
    border-width: 5px;
    border-color: #000000;
}

.main-content button{
    width: 100px;
    height: auto;
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px;
    border-width: 3px;
    border-color: #000000;
    border-style: solid;
    font-size: 15px;
}

.main-content button:hover {
    background-color: #202a44;
    color: #FFFFFF
}

.contact {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #000000; 
    font-family: 'Arvo', serif;
    list-style: none;
    padding-left: 15px;
}

.contact li {
    padding: 0px 10px 0px;
}

footer {
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: linear-gradient(0.25turn, #4a88a7, #ebf8e1, #f69d3c);
}

.welcome-prompt {
    font-size: 24px;
    color: white;
}

.feature-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}

.feature-area label {
    background-color: #fff1c2;
}

.update-product, .trans-list, .item-deficit {
    height: 400px;
    width: 33%;
    text-align: center;
    font-size: 20px;
    border: 5px double black;
    font-family: 'Arvo', serif;
    padding: 20px;
    background-color: #FFFFFF;
}
