body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin-bottom: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'IBM Plex Sans Condensed', sans-serif; 
    color:#000000;
    font-size: 3rem;
}

header h1 {
    font-size: 50px;
}

#cart-logo {
    width: 50px;
    height: 50px;
    border-color:#000000;
    border-style: double;
    border-width: 4px;
    border-radius: 6px;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
}

#side-content {
    background-color: #fff1c2;
    color: #800000;
    padding-left: 15px;
    padding-right:20px;
    border-width: 5px;
    border-radius: 3px;
    width: 260px;
    height: 300px;
    border-color: #202a44;
    border-style: double;
    border-radius: 6px;
    overflow-y: scroll;
    word-break: break-all;
}

#side-content p {
    color:#202a44;
    font-size: 16px;
}

#side-content p:hover {
    color:#f69d3c;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202a44;
    padding-top: 20px;
    padding-left: 20px;
    padding-right:20px;
    border-width: 10px;
    border-radius: 3px;
    width: 150px;
    height: 80vh;
}

#back {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border-color:#000000;
    border-style: double;
    border-width: 4px;
    border-radius: 6px;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    font-size: 18px;
}

#back:hover {
    border-color:#FFFFFF;
    background-color:#202a44;
    color: #FFFFFF;
}

button {
    border-color: #000000;
    width: 50px;
    height: 50px;
    padding: 0;
}
h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif; 
    color:#000000;
    font-size: 40px;
    color:#000000;
    font-size: 30px;
    padding-left: 20px;  
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
}

p {
    font-family: 'Arvo', serif;
    padding-left: 20px;
}

.nav-area {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:10px;
    background-image: linear-gradient(0.45turn, #202a44, #f69d3c);
    border: 10px;
    width: auto;
    height: 30px;
    
}

.nav-list {
    margin: 0;
    padding: 5px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size:18px;
    font-family: 'Arvo', serif;
    color: #FFFFFF;
}

a:hover {
    font-size: 20px;
    color: #fff1c2;
}

.main-content {
    background-color: #fbf3de;
    padding: 10px;
    border-width:5px;
    border-style: double;
    border-color: #000000;
}

.main-content table {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.main-content th {
    text-align: center;
    background-color: #FFFFFF;
    width: 360px;
}

.main-content td {
    text-align: center;
    overflow:break-word;
    width: 360px;
    border-bottom: 2px solid #ddd;
}

.main-content input{
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px;
    border-width: 3px;
    border-color: #000000;
    border-style: solid;
}

.main-content input:hover {
    background-color: #202a44;
    color: #FFFFFF
}

.contact {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #000000; 
    font-family: 'Arvo', serif;
    list-style: none;
    padding-left: 15px;
}

.contact li {
    padding: 0px 10px 0px;
}

footer {
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: linear-gradient(0.25turn, #4a88a7, #ebf8e1, #f69d3c);
}

.welcome-prompt {
    font-size: 24px;
    color: white;
}

.feature-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.update-product, .trans-list, .item-deficit {
    height: 400px;
    width: 33%;
    text-align: center;
    font-size: 23px;
    border: 1.5px solid black;
    font-family: 'Arvo', serif;
    padding: 20px;
}

.cart-item {
    font-size: 25px;
    color: white;
    list-style: none;
}

.product-item {
    width: 150px;
    font-size: 20px;
    color: #800000;
    padding: 15px 0 15px;
}

.cart-item-form {
    border: 2px solid black;
}

.cart-total > ul {
    padding: 0
}

.cart-total-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    padding: 0;
}

.checkout-btn {
    width: fit-content;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkout-btn:hover {
    background-color:#800000;
    color: #fbf3de;
}