body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin-bottom: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    justify-content: space-between;
    font-family: 'IBM Plex Sans Condensed', sans-serif; 
    color:#000000;
    font-size: 3rem;
}

#cart-logo {
    right: 20px;
    padding: 0;
}

button {
    border-color: #000000;
    width: 50px;
    height: 50px;
    padding: 0;
}
h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif; 
    color:#000000;
    font-size: 40px;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

p {
    font-family: 'Arvo', serif;
}

.nav-area {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:10px;
    background-image: linear-gradient(0.45turn, #202a44, #f69d3c);
    border: 10px;
    
}

.nav-list {
    margin: 0;
    padding: 5px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size:18px;
    font-family: 'Arvo', serif;
    color: #FFFFFF;
}

a:hover {
    font-size: 20px;
    color: #fff1c2;
}

.main-content {
    background-color: #fbf3de;
    padding: 10px;
    border-width:5px;
    border-style: double;
    border-color: #000000;
}

.main-content table {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.main-content th {
    text-align: center;
    background-color: #FFFFFF;
    width: 360px;
}

.main-content td {
    text-align: center;
    overflow:break-word;
    width: 360px;
    border-bottom: 2px solid #ddd;
}

.main-content input{
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px;
    border-width: 3px;
    border-color: #000000;
    border-style: solid;
}

.main-content input:hover {
    background-color: #202a44;
    color: #FFFFFF
}

.contact {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #000000; 
    font-family: 'Arvo', serif;
    list-style: none;
    padding-left: 15px;
}

.contact li {
    padding: 0px 10px 0px;
}

footer {
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: linear-gradient(0.25turn, #4a88a7, #ebf8e1, #f69d3c);
}

