<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - One Stop Shop</title>
</head>
<body>
    <div class="about-section">
        <h1>About Us</h1>
        <p>We are your one stop shop for all biking needs. We specialize in vintage and one of a kind parts</p>

      </div>
    <div class="body">
        <nav class="nav-bar">
            <ul>
                <li class="nav-list"><a href="/">Homepage</a></li>
                <li class="nav-list"><a href="/products">Product List</a></li>
                <li class="nav-list"><a href="/admin">Admin Portal</a></li>
                <li class="nav-list"><a href="/about">about</a></li>
            </ul>
        </nav>
    </div>
    <footer>
        <ul>
            <li>Contact Us</li>
            <li>List item 2</li>
            <li>List item 3</li>
        </ul>
    </footer>
</body>
</html>