<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Sans+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script defer src="../static/app.js"></script>
    <title>About Page</title>
</head>
<body>
    <header class="header">
        <h1>One stop Shop</h1>
        <section id="side-nav">
            <button id="cart-logo">
                <img src="../static/icons/shopping-cart.jpg" alt="Cart icon" width="40px">
            </button>
            <div id="side-content">
                <button id="back">></button>
                {% if users %}
                    {% for user in users %}
                        {% if user.owner == request.remote_addr %}
                            {% for item in user.list %}
                                <form action="/del-cart-item" method="post">
                                    <li class="cart-item" style="display: flex; flex-direction: row; justify-content: space-between;">
                                        <div class="product-item" style="width: 150px; font-size: 20px;">{{item[1]}}</div>
                                        <input type="hidden" name="p-id" value="{{item[0]}}">
                                        <input type="hidden" name="p-name" value="{{item[1]}}">
                                        <input type="hidden" name="p-cost" value="{{item[2]}}">
                                        <input type="hidden" name="p-desc" value="{{item[3]}}">
                                        <input type="hidden" name="p-cat" value="{{item[4]}}">
                                        <button class="del-item" type="submit" style="width: 30px; height: 30px;">
                                            <img src="../static/icons/delete-icon.jpg" alt="delete" width="15px">
                                        </button>
                                    </li>
                                </form>
                            {% endfor %}
                            <div class="class-total">
                                <div>Total</div>
                                <div class="cart-total">
                                    <ul>
                                        <li class="cart-total-list">
                                            <div>Total Cost</div>
                                            <div>${{user.total}}</div>
                                        </li>
                                        <li class="cart-total-list">
                                            <div>Taxes</div>
                                            <div>${{ "%.2f"|format(user.total * 0.12) }}</div>
                                        </li>
                                        <li class="cart-total-list" id="cart-total">
                                            <div>Total Cost</div>
                                            <div>${{ "%.2f"|format(user.total + user.total * 0.12) }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    </header>
    <div class="body">
        <nav class="nav-bar">
            <ul class ='nav-area'>
                <li class="nav-list"><a href="/">Homepage</a></li>
                <li class="nav-list"><a href="/products">Product List</a></li>
                <li class="nav-list"><a href="/admin">Admin Portal</a></li>
                <li class="nav-list"><a href="/about">about</a></li>
            </ul>
        </nav>
    </div>
    <div class="about-section">
        <h2>About Us</h2>
        <p>We are a one stop shop for all your bike needs. We specialize in vintage and one of a kind bike parts</p>
      </div>

    <footer>
        <ul class="contact">
            <li>Contact Us</li>
            <li>Location</li>
        </ul>
    </footer>
</body>
</html>