<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <header class="header">
        <h1>One stop Shop</h1>
        <div>
            <a href="#"><button><img src="../static/shopping-cart.jpg" alt="Cart icon" id="cart-logo" width="50px"></button></a>
        </div>
    </header>
    <div class="body">
        <nav class="nav-bar">
            <ul>
                <li class="nav-list"><a href="/">Homepage</a></li>
                <li class="nav-list"><a href="/products">Product List</a></li>
                <li class="nav-list"><a href="/admin">Admin Portal</a></li>
                <li class="nav-list"><a href="/about">about</a></li>
            </ul>
        </nav>
    </div>
    <div class="admin-login">
        <form action="/admin/dashboard" method="post" id="admin-form">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="user@email.com" required>
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" required>
            <br>
            {% for message in get_flashed_messages() %}
            <p><strong>{{ message }}</strong></p>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    <footer>
        <ul>
            <li>Contact Us</li>
            <li>List item 2</li>
            <li>List item 3</li>
        </ul>
    </footer>
</body>
</html>