<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Sans+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles-login.css">
    <title>Admin Login</title>
</head>
<body>
    <form method="post" action="/admin/dashboard" id="login-form" class="login-form" autocomplete="off" role="main">
        <h1 class="a11y-hidden">Login Form</h1>
        <div>
          <label class="label-email">
            <input type="email" class="text" name="email" placeholder="Email" tabindex="1" required />
            <span class="required">Email</span>
          </label>
        </div>
        <div>
          <label class="label-password">
            <input type="password" class="text" name="password" placeholder="Password" tabindex="2" required />
            <span class="required">Password</span>
          </label>
        </div>
        <input type="submit" value="Log In" />
        <figure aria-hidden="true">
            <div class="person-body"></div>
            <div class="neck skin"></div>
            <div class="head skin">
                <div class="eyes"></div>
                <div class="mouth"></div>
            </div>
            <div class="hair"></div>
            <div class="ears"></div>
            <div class="shirt-1"></div>
            <div class="shirt-2"></div>
        </figure>
        {% for message in get_flashed_messages() %}
        <strong>{{ message }}</strong>
        {% endfor %}
    </form>
</body>
</html>