<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Sans+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Admin dashboard</title>
</head>
<body>
    <header class="header">
        <h1>One Stop Shop</h1>
    </header>
    <div class="body">
        <nav class="nav-bar">
            <ul class ='nav-area'>
                <li class="nav-list welcome-prompt">Welcome {{user}}</li>
            </ul>
        </nav>
    </div>
    <div class="feature-area">
        <div class="update-product">
            Modify Product List
            <form action="/update-inventory" method="post" class="update-product-list">
                <label for="file-name">Upload File</label>
                <input type="file" name="file-name" placeholder="Enter file path">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="trans-list">List of transactions</div>
        <div class="item-deficit">Items required to be re-ordered</div>
    </div>
</body>
</html>

