<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Sans+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Admin dashboard</title>
</head>
<body>
    <h1 class="header">Welcome {{ 'Doris 123' }}</h1>
    
    <div class="main-content">
        <table>
            <tr>
              <th>title 1</th>
              <th>title 2</th>
            </tr>
            <tr>
              <td>data 1</td>
              <td>date 2</td>
            </tr>
            <tr>
              <td>detail 1</td>
              <td>detail 2</td>
            </tr>
          </table> 
    </div>
</body>
</html>