<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Admin dashboard</title>
</head>
<body>
    <header class="header">
        <h1>One Stop Shop</h1>
    </header>
    <div class="body">
        <nav class="nav-bar">
            <ul class ='nav-area'>
                <p class="nav-list welcome-prompt">Welcome {{user}}</p>
            </ul>
        </nav>
    </div>
    <div class="feature-area">
        <div class="update-product">
            <h3>Modify Product List</h3>
            <form action="/update-inventory" method="post" class="update-product-list" enctype="multipart/form-data">
                <label for="file-name">Upload File</label>
                <input type="file" name="file-name">
                <input type="submit" id="submitBtn" value="Submit">
            </form>
        </div>
        <div class="trans-list">
            <h3>Recent Transactions</h3>
        </div>
        <div class="item-deficit">
            <h3>Items in deficit</h3>
            <table class="product-inventory">
                <tr class="inventory-item">
                    <th>Product Name</th>
                    <th>in Stock</th>
                </tr>
                {% for item in products[1:] %}
                    {% if item[5]|int <= 10 %}
                        <tr class="inventory-item">
                            <td>{{ item[1] }}</td>
                            <td>{{ item[5] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>