<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Confirm Checkout</title>
</head>
<body>
    <header class="header">
        <h1>One Stop Shop</h1>
    </header>
    <div class="body">
        <nav class="nav-bar">
            <ul class ='nav-area'>
                <p class="nav-list welcome-prompt">Please confirm your order</p>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <form action="/confirm-checkout" method="post" class="final-form">
            <label for="full-name">Full Name:</label>
            <input type="text" name="full-name" placeholder="John doe" ><br>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="someone@something.com" >
            <label for="phone-num">Phone number:</label>
            <input type="number" name="phone-num" placeholder="123-456-7890" ><br>
            <label for="address-st">Street Address</label>
            <input type="text" name="address-st" placeholder="123 Awesome Ave" >
            <label for="address-st">City</label>
            <input type="text" name="address-city" placeholder="Vancouver" ><br>
            <label for="address-st">Country</label>
            <input type="text" name="address-country" placeholder="Canada" >
            <label for="address-st">Postal Code</label>
            <input type="text" name="address-code" placeholder="A1B2C3" ><br>
            <input type="submit" class="checkout-btn" value="Checkout">
        </form>
            {% if users %}
                    {% for user in users %}
                        {% if user.owner == request.remote_addr %}
                            {% for item in user.list %}
                                <form action="/del-cart-item" method="post">
                                    <li class="cart-item" style="display: flex; flex-direction: row; justify-content: space-between;">
                                        <div class="product-item" style="width: 700px; font-size: 20px;">{{item[1]}}</div>
                                        <input type="hidden" name="p-id" value="{{item[0]}}">
                                        <input type="hidden" name="p-name" value="{{item[1]}}">
                                        <input type="hidden" name="p-cost" value="{{item[2]}}">
                                        <input type="hidden" name="p-desc" value="{{item[3]}}">
                                        <input type="hidden" name="p-cat" value="{{item[4]}}">
                                        <button class="del-item" type="submit" style="width: 40px; height: 40px;">
                                            <img src="../static/icons/delete-icon.jpg" alt="delete" width="18px">
                                        </button>
                                    </li>
                                </form>
                            {% endfor %}
                            <div class="class-total">
                                <div style="color:#b92200;">Total</div>
                                <div class="cart-total">
                                    <ul style="list-style: none;">
                                        <li class="cart-total-list">
                                            <div>Cost</div>
                                            <div>${{ "%.2f"|format(user.total) }}</div>
                                        </li>
                                        <li class="cart-total-list">
                                            <div>Taxes</div>
                                            <div>${{ "%.2f"|format(user.total * 0.12) }}</div>
                                        </li>
                                        <li class="cart-total-list" id="cart-total" style="color:#b92200;">
                                            <div>Total Cost</div>
                                            <div>${{ "%.2f"|format(user.total + user.total * 0.12) }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
    </div>
</body>
</html>