<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Sans+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Homepage</title>
</head>
<body>
    <header class="header">
        <h1>One Stop Shop</h1>
            <a href="#" id="cart-logo"><button><img src="../static/shopping-cart.jpg" alt="Cart icon" width="50px"></button></a>
    </header>
    <div class="body">
        <nav class="nav-bar">
            <ul class ='nav-area'>
                <li class="nav-list"><a href="/">Homepage</a></li>
                <li class="nav-list"><a href="/products">Product List</a></li>
                <li class="nav-list"><a href="/admin">Admin Portal</a></li>
                <li class="nav-list"><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">

    </div>
    <footer>
        <ul class="contact">
            <li>Contact Us</li>
            <li>Location</li>
        </ul>
    </footer>
</body>
</html>