<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Kanit:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script defer src="../static/app.js"></script>
    <title>Products - One Stop Shop</title>
</head>
<body>
    <header class="header">
        <h1 class="header-item">One Stop Shop</h1>
    </header>
    <div class="body">
        <nav class="nav-bar">
            <ul class="nav-area">
                <li class="nav-list"><a href="/">Homepage</a></li>
                <li class="nav-list"><a href="/products">Product List</a></li>
                <li class="nav-list"><a href="/admin">Admin Portal</a></li>
                <li class="nav-list"><a href="/about">about</a></li>
            </ul>
        </nav>
        <section id="side-nav">
            <button id="cart-logo">
                <img src="../static/icons/shopping-cart.jpg" alt="Cart icon" width="40px">
            </button>
            <div id="side-content">
                <button id="back">></button>
                {% if users %}
                    {% for user in users %}
                        {% if user.owner == request.remote_addr %}
                            {% for item in user.list %}
                                <form action="/del-cart-item" method="post">
                                    <li class="cart-item" style="display: flex; flex-direction: row; justify-content: space-between;">
                                        <div class="product-item" style="width: 150px; font-size: 20px;">{{item[1]}}</div>
                                        <input type="hidden" name="p-id" value="{{item[0]}}">
                                        <input type="hidden" name="p-name" value="{{item[1]}}">
                                        <input type="hidden" name="p-cost" value="{{item[2]}}">
                                        <input type="hidden" name="p-desc" value="{{item[3]}}">
                                        <input type="hidden" name="p-cat" value="{{item[4]}}">
                                        <button class="del-item" type="submit" style="width: 30px; height: 30px;">
                                            <img src="../static/icons/delete-icon.jpg" alt="delete" width="15px">
                                        </button>
                                    </li>
                                </form>
                            {% endfor %}
                            <div class="class-total">
                                <div>Total</div>
                                <div class="cart-total">
                                    <ul>
                                        <li class="cart-total-list">
                                            <div>Total Cost</div>
                                            <div>${{user.total}}</div>
                                        </li>
                                        <li class="cart-total-list">
                                            <div>Taxes</div>
                                            <div>${{ "%.2f"|format(user.total * 0.12) }}</div>
                                        </li>
                                        <li class="cart-total-list" id="cart-total">
                                            <div>Total Cost</div>
                                            <div>${{ "%.2f"|format(user.total + user.total * 0.12) }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form action="/checkout" method="post" class="checkout">
                    <button type="submit" class="checkout-btn">
                        <div>Checkout</div>
                    </button>
                </form>
            </div>
        </section>
    </div>
    <div class="main-content">
        <table>
            <tr>
                <th></th>
                {% for product in products[0] %}
                <th>{{product}}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% for product in products[1:] %}
            <tr>
                {% for image in image_list %}
                {% if image[:-4] == product[1] %}
                <td><img src="/static/product_image/{{image}}" alt="Image not found" width="80pxpx"></td>
                {% endif %}
                {% endfor %}
                {% for item in product %}
                <td>{{item}}</td>
                {% endfor %}
                <td>
                    <form action="/add-to-cart" class="add-to-cart-btn" method="post">
                        <input type="hidden" name="p-id" value="{{product[0]}}">
                        <input type="hidden" name="p-name" value="{{product[1]}}">
                        <input type="hidden" name="p-cost" value="{{product[2]}}">
                        <input type="hidden" name="p-desc" value="{{product[3]}}">
                        <input type="hidden" name="p-cat" value="{{product[4]}}">
                        <button type="submit">Add to Cart</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <footer>
        <ul class="contact">
            <li>Contact Us</li>
            <li>Location</li>
        </ul>
    </footer>
</body>
</html>